body{
	margin: 0;
}

img{
	display: block;
	margin-top: 20px;
	border-radius: 50%;
	height: 180px;
	width: 180px;
	margin-left: auto;
	margin-right: auto;

}

.Leto{
	color : #E37343;
	font-size: 50px;
	font-family: arial; 

}

.thomas{
	font-size: 50px;
	font-family: arial; 
}

.dev{
	border-bottom: solid #f09e6c;
}

.container{
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: nowrap;
}




h1 p h2 h3 h4{
	font-family: arial; 
}




.right{	
	flex-basis: 82%;
}

.left{
	background-color: #E37343;
	flex-basis: 18%;

}

.rightin{
	display : flex;
	flex-direction: column;
	flex-wrap: nowrap;
	padding-left :50px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 2px;
}

.rightin h2{
	padding-top: 2px;
	font-family: arial; 
}


.left h3{
	background-color: #cabcb5;
	text-align: center;
	color :#E37343;
	padding-right: 10px;
	font-family: arial; 
	font-size: 30px;
}

.left h4{
	padding-right: 20px;
	padding-left: 20px;
	font-family: arial; 
}


.image{
	padding : 15px;

}

p{
	padding-left : 20px;
	padding-right : 20px;
	font-family: arial; 
}

.icone{
	color : #E37343;
	display : flex;
}

.icones{
	display : flex;
	justify-content: space-around;
	padding-bottom: 20px;

}


.flex-tit{
	display: flex;
	flex-direction: row;
	border-bottom : solid 2px #E37343;
	padding-top: 20px;

}
.flex-tit i{
	display: flex;
	flex-direction: row;
	padding-right: 50px;
}

.rightin h3{
	font-size: 25px;
	font-family: arial; 
}

.rightin h4{
	padding-top: 10px;
	font-family: arial;
}

/* Corps de texte */


.corps{
	display: flex;
	flex-direction: row;
	flex-basis: 100%;
	padding-top: 5px;
}
.corpsic{
	display: flex;
	flex-basis: 3%;
	padding-top:34px;
}
.corpsleft{
	display: flex;
	flex-basis: 15%;
	flex-direction: column;
}

.corpsright{
	display: flex;
	flex-direction: column;
	flex-basis: 82%;
}

.corps h2{
	font-size: 20px;
	padding-left: 20px;
}

.comp{
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	padding-top: 5px;
}

h2{
	display : none;
	text-align: center;
	font-size: 32px;
	font-family: arial; 
	font-weight: bold;

}

@media screen and (max-width:1000px){

	.icone{
		font-size: 12px;
		padding-bottom: 0px;
		padding-right: 0px;
	}

	.right h1{
		font-size: 18px;
		padding-left: 1px;
	}

	.container{
		display: flex;
		flex-direction: column;
	}

	.right{
		display: flex;
		flex-direction: column;
		flex-basis: 100%;
	}

	.rightin{
		padding-left: 10px;
	}

	.left{
		display: flex;
		flex-direction: column;
		flex-basis: 100%;
	}

	.rightin h2{
		font-size: 13px;
	}

	.rightin h3{
		margin-top: 29px;
		font-size: 20px;
	}


	.top{
		display: none;
	}

	h2{
		display: block;
		font-size: 30px;
	}

	.corpsleft{
		flex-basis: 30%;
		padding-right: 7px;	
	}

	.corpsic{
		padding-left: 2px;
		padding-right: 10px;
	}


	.flex-tit i{
		padding-right: 20px;
	}
}