.container{
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: nowrap;
}

h1 p h2 h3{
	font-family: arial; 
}

.right{
	
	flex-basis: 82%;
}

.left{
	background-color: #E37343;
	flex-basis: 18%;

}

.rightin{
	display : flex;
	flex-direction: column;
	flex-wrap: nowrap;
	padding-left :50px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 2px;
}

.rightin h2{
	padding-top: 2px;
	font-family: arial; 
}


.left h1{
	background-color: #cabcb5;
	text-align: center;
	color :#E37343;
	padding-right: 10px;
	font-family: arial; 
}

.left h3{
	padding-right: 20px;
	padding-left: 20px;
	font-family: arial; 
}


.image{
	padding : 15px;

}

p{
	padding-left : 20px;
	padding-right : 20px;
	font-family: arial; 
}

.icones{
	padding : 20px;
	flex-wrap: wrap;
}


.flex-tit{
	display: flex;
	flex-direction: row;
	border-bottom : solid 2px #E37343;
	padding-top: 20px;

}
.flex-tit i{
	display: flex;
	flex-direction: row;
	padding-right: 50px;
}

.rightin h1{
	font-size: 25px;
	font-family: arial; 
}

/* Corps de texte */


.corps{
	display: flex;
	flex-direction: row;
	flex-basis: 100%;
	padding-top: 5px;
}
.corpsic{
	display: flex;
	flex-basis: 3%;
	padding-top:22px;
}
.corpsleft{
	display: flex;
	flex-basis: 15%;
	flex-direction: column;
}

.corpsright{
	display: flex;
	flex-direction: column;
	flex-basis: 82%;
}

.corps h2{
	font-size: 20px;
	padding-left: 20px;
}

.comp{
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	padding-top: 5px;
}

.nom{
	visibility: hidden;
	text-align: center;
	font-size: 25px;
	font-family: arial; 
	font-weight: bold;

}

@media screen and (max-width:1000px){
	.container{
		display: flex;
		flex-direction: column;
	}

	.right{
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
	}
	.left{
		display: flex;
		flex-direction: column;
		flex-basis: 100%;
	}

	.rightin h2{
		font-size: 15px;
		padding-left: 1px;
	}

	h2{
		font-size: 18px;
	}

	.top{
		display: flex;
		visibility: hidden;
	}

	.nom{
		visibility: visible;
	}

	.corps h2{
		padding-left: 5px;
	}

	.corpsleft{
		flex-basis: 30%;
		padding-right: 7px;	
	}

	.corpsic{
		padding-left: 2px;
		padding-right: 10px;
	}
}